<h1 class="text-center" style="font-weight: normal">Register</h1>
<hr/>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <%= form_for @user do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control custom-form-control" %><br/>

        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control custom-form-control" %><br/>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control custom-form-control" %></br>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control custom-form-control" %><br/>


        <%= f.submit "Register", class: "btn btn-block purple-button" %>
    <% end %>

  </div>
</div>