<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>



<div class="container-fluid" id="wrap">
<div class="row">
  <%= render 'shared/flash_messages' %>
</div>
  <%= yield %>
</div>



<%= render 'layouts/footer' %>

<%=debug(params) %>
</body>
</html>
